.One {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .box {
    span {
      font-size: 1.25rem;
      font-weight: lighter;
      color: #333;
    }

    .inner {
      padding: 0 10rem;
      @include breakpoint-down(small) {
        padding: 0 0;
      }

      strong {
        color: #f69e7b;
      }

      #description {
        font-family: "NewYork";
        text-align: center;
        line-height: 120.7%;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        color: #333;

        @include breakpoint-down(small) {
          font-size: 2rem;
        }
        @include breakpoint-up(medium) {
          font-size: 3rem;
        }
      }
    }

    p {
      line-height: 175.3%;
      font-size: 1.25rem;
      color: #333;
      font-weight: lighter;
    }
  }
}
