//colors
$darkBlue: hsl(233, 26%, 24%);
$grayishBlue: hsl(0, 0%, 34%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$darkGreen: hsl(17, 89%, 82%);
$lightGreen: hsl(98, 56%, 86%);
$offWhite: hsla(239, 63%, 13%, 0.05);
$black: hsl(240, 3%, 7%);
$red: hsl(360, 78%, 62%);
$wd-green: hsl(159, 30%, 89%);

//font sizes
$font-sm: 0.875rem; //14px
$font-md: 1.1235rem; // 18px
$font-lg: 1.65rem; // 20px
$font-xlg: 3.25rem; // 52px
